---
import BaseLayout from '../layouts/BaseLayout.astro';
import readingTime from 'reading-time'

const title = 'About';
const description = 'About Jake Waggoner';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/myself.jpg" alt="Illustration of a notebook" width="330">
      <figcaption>
        Picture of myself, Jake Waggoner
      </figcaption>
    </figure>
    <p>Hello! I am Jake Waggoner and welcome to my blog! This is a space I created to allow me to share my own thoughts, opinions, things I'm actively doing, and any life updates. I live in Indiana, am married to a wonderful woman named Mercedes, have a son named Wesley, and a tuxedo cat named Samp.</p>
    <p>I am currently a senior software engineer and have been in the industry since 2019. I started off as an intern at Ontario Systems (now called Finvi) and then once I graduated college in 2021 I joined Encora (previously DMI) as a consultant and have been there ever since. My work includes migrating legacy APIs and creating new ones at Volkswagen Credit and migrating Heroku sites to AWS at Eli Lilly.</p>
    <p>My wife and I bought our home in 2023, and ever since, I have always been busy either adding something new, fixing something broken, or adjusting something out of place to make our lives more comfortable; so expect to see a lot of DIY/woodworking posts on this site. I also plan on adding technical think pieces, opinions, and tips I have gathered throughout the years.</p>
    
    <h2>Connect with me</h2>
    <ul>
      <li>
        <a href="https://www.instagram.com/iamjakewaggoner/">Instagram</a>
      </li>
      <li>
        <a href="https://www.x.com/jake_waggoner/">Twitter/X</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/waggonerjake">LinkedIn</a>
      </li>
      <li>
        <a href="https://github.com/waggonerjake">GitHub</a>
      </li>
    </ul>
    <h2>Stuff I like</h2>
    <ul>
      <li>
        <a href="https://rocketleague.tracker.network/rocket-league/profile/steam/76561198407262352/overview">Rocket League</a>
      </li>
      <li>
        <a href="https://open.spotify.com/playlist/2A9XONsXFZF8FbeovAU8i0?si=75860ba49d334582">My favorite songs on Spotify</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Talladega_Nights:_The_Ballad_of_Ricky_Bobby">The best movie of all time</a>
      </li>
      <li>
        <a href="https://www.olivegarden.com/home">My favorite resturant</a>
      </li>
    </ul>
  </div>
</div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
